# Set this to the backend URL
VITE_API_URL=http://localhost:5000

# Set your Google Client ID here to enable real Google Sign-In
VITE_GOOGLE_CLIENT_ID=913056792342-si6d85k7s3oj3b795qj43ud6jvglrif1.apps.googleusercontent.com